<div class="col-10 offset-1 about">
    <h1 id="about-header">About Splurty</h1>


<p>
    Splurty was built by <a target="_blank" style="color:#BF9F78" href="https://alexandragergar.netlify.com/">Alexandra Gergar</a>. A web developer and visual stragetist merging complexity and beauty with code.  
  <br />
  <p>
    With over 10 years of filming commerical campaigns and planning stragetic digital marketing, she has helped companies grow sales and find new growth oppertunities. She seemlessly weaves her knowledge of coding and visual stragety to help companies find better solutions.
  </p>
 

 <div class="row">
    <div class="col-12 col-sm-4">
      <br />
      <br />
      <%= image_tag 'alexgergar.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Alexandra Gergar</h2>
      <br />
        Alexandra is a web developer, marketer and visual designer. In her past life she photographed world-reowned chefs, marketed for food, wine and consumer good companies and once she flown to Bolivia to document the growing wine scene. She lives in Washington DC with her Jack Russell mutt Chilly Willy.
        
    </div>
</div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br /> 
 
 
 
 
