<h2>
    <span>SPLURTY / No. <%= @quote.id %></span>
    Your favorite quotes from <u>Parks and Rec</u> quotes all in one place!
  </h2>

<div class="row justify-content-center all-of-quote">
  <div class="col-8">
    <h1><%= @quote.saying %></h1>
    <h2 class="float-right">- <%= @quote.author %></h2>
  </div>
</div>

<br class="clear" />
<br />
<br />
<br />