@import "bootstrap";

.clear {
  clear: both;
}

.circle {
    font-weight: bold;
    font-style: italic;
    position: relative;
    border-radius: 100%;
    background: #074973;
    border: 1px solid #F7F7F7;
    width: 80px;
    height: 80px;
    margin: 10px 10px;
    text-align: center;
    color: #FFF;
    font-size: 10px;
    line-height: 16px;
    cursor: pointer;
    transform: rotate(-11deg);
    -ms-transform: rotate(-11deg); /* IE 9 */
    -webkit-transform: rotate(-11deg); /* Opera, Chrome, and Safari */
}

.slogan {
  font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  text-align: center;
  margin-top: 35px;

}

.links {
  text-align: right;
  margin-top: 30px;
}

.links a {
  color: #011826;
  font-size: 25px;
  border-bottom: 1 px solid #011826;
  font-family: 'geometria_lightlight', sans-serif;
}

.next-quote {
  font-family: 'geometria_lightlight', sans-serif;
  font-size: 20px;
}

.next-quote a {
  color: #011826;
}

.footer-blurb {
  font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: right;
  font-size: 10px;
}

.footer-blurb a {
  color: #074973;
}

.logo:hover {
    text-decoration: none;
}

.about {
  font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.modal {
  font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.all-of-quote {
  padding-top: 20px;
}

header {
  border-top: 9px solid #042940;
}

hr {
  margin-top: 0px;
  clear: both;
}

h1 {
  font-family: 'geometria_lightlight', sans-serif;
  font-size: 48px;
}

h2 {
  font-size: 22px;
  font-family: 'geometria_lightlight', sans-serif;
  margin-bottom: 20px;
}

h2 span {
  color: #dddddd;
  font-family: 'geometria_lightlight', sans-serif;
}

#about-header {
  text-align: center;
}

::selection {
  background-color: #BF9F78;
}

@media (max-width: 750px) {
  .footer-blurb {
    text-align: left;
  }
}

